/*CUSTOM BUTTONS*/


.add-video-to-favorites-button{
  background: transparent;
  border: solid 1px green;
  color: green;
}

.share-on-social-button{
  background: transparent;
  border: solid 1px #167ac6;
  color: #167ac6;
}

.follow-artist-button{
  background: transparent;
  border: solid 1px #167ac6;
  color: #167ac6;
}




/*CUSTOM CONTAINERS AND STYLES*/


.container-title{
  color: #333333;
  font-family: 'Work Sans', sans-serif;
  border-left: solid 3px #f53101;
  padding-left: 10px;
}

.container-heading{
  border-bottom: solid 1px rgba(213, 208, 208, 0.4);
  padding: 10px;
    font-family: 'Work Sans', sans-serif;
}

.container-heading i{
  color: #f53607!important;
  padding-right: 7px;
}


.page-background{
  background: url(http://blog.spoongraphics.co.uk/wp-content/uploads/2012/textures/19.jpg);
}

.orange-side-container{
  padding: 10px;
  border-radius: 1px;
  /* border-left: solid 3px #f53101; */
  box-shadow: 0px 0px 1px 1px rgba(211, 211, 211, 0.51);


}

.c-wrapper{
      padding: 20px;
      box-shadow: 0px 0px 2px 0px lightgrey;

}

.c-wrapper-gray{
  border-radius: 5px;
  background: #fafafa;
}

.c-panel{
  border-radius: 5px;
  background: darkgray;
}

.small-margin-left{
  margin-left: 15px;
}

.small-margin-right{
  margin-right: 15px;
}

.small-margin-left-right{
  margin-left: 15px;
  margin-right: 15px;
}

.small-padding-left{
  padding-left: 15px;
}

.small-padding-right{
  padding-right: 15px;
}

.small-padding-left-right{
  padding-left: 15px;
  padding-right: 15px;
}


.big-padding-left-right{
  padding-left: 40px;
  padding-right: 40px;
}


.no-padding-horizontal{
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-vertical{
  padding-top: 0px;
  padding-bottom: 0px;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.med-top-bot-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.big-top-bot-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.flex{
  display: flex;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fullwidth{
  width: 100%;
}

.link-style{
  color: #f76210;
  font-weight: 400;
  text-transform: capitalize;
}

.light-text{
  font-weight: 300;
}

.text-center{
  text-align: center;
}

.small-text{
  font-size: small;
}

.small-centered-content-font{
  font-size: smaller;
  display: flex;
  align-items: center;
}



/*CUSTOM ELEMENTS*/

.video_card_image{
  width: 100%;
  max-height: 220px;
}
.single-video-card{
  height: 350px;
}

#user_sentence_log_wrapper{
  min-height: 40px;
}

#user_sentence_log{
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

h4 strong{
      color: cornflowerblue!important;
}

/*
iframe{
  width: 510px;
  height: 290px;
}*/
